<h2>お知らせ</h2>
<ul>
  <% @notifications.each do |notification| %>
  <hr>
    <li>
      <%  if notification.read == true %>
      <span>
      <%= "既読" %>
      </span>
      <% else %>
      <span class="text-danger">
      <%= "未読" %>
      </span>
      <% end %>
      <p>
        <%= profile_img(notification.comment.user) if profile_img(notification.comment.user) %>
        <%= notification.comment.user.try(:name) %>さんが
        あなたのブログ（<%= link_to "#{notification.comment.blog.title}", blog_path(notification.comment.blog, notification_id: notification.id) %>）にコメントしました。
      </p>
      <p><%= notification.created_at %></p>
    </li>
  <% end %>
</ul>
